<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cyh.dao.userMapper">
	<resultMap id="BaseResultMap" type="cyh.vo.user">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="experience" property="experience" jdbcType="VARCHAR" />
		<result column="createtime" property="createtime" jdbcType="VARCHAR" />
		<result column="lastlogintime" property="lastlogintime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, password, email, tel, avatar, grade, experience, createtime, lastlogintime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where name = #{name,jdbcType=VARCHAR}
	</select>
	<select id="selectByEmail" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where email = #{email,jdbcType=VARCHAR}
	</select>
	<select id="selectByTel" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where tel = #{tel,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cyh.vo.user">
		insert into user (id, name, password,
		email, tel, avatar,
		grade, experience,createtime,lastlogintime)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR},
		#{grade,jdbcType=VARCHAR}, #{experience,jdbcType=VARCHAR},
		#{createtime,jdbcType=VARCHAR}, #{lastlogintime,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cyh.vo.user">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
			<if test="grade != null">
				grade,
			</if>
			<if test="experience != null">
				experience,
			</if>
			<if test="createtime !=null">
				createtime,
			</if>
			<if test="lastlogintime !=null">
				lastlogintime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=VARCHAR},
			</if>
			<if test="experience != null">
				#{experience,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="lastlogintime != null">
				#{lastlogintime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cyh.vo.user">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
			<if test="experience != null">
				experience = #{experience,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime=#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="lastlogintime != null">
				lastlogintime=#{lastlogintime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cyh.vo.user">
		update user
		set name = #{name,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		avatar = #{avatar,jdbcType=VARCHAR},
		grade = #{grade,jdbcType=VARCHAR},
		experience = #{experience,jdbcType=VARCHAR},
		createtime=#{createtime,jdbcType=VARCHAR},
		lastlogintime=#{lastlogintime,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>